<div class="form-field" data-product-attribute="set-select" role="listbox" aria-labelledby="product-list-label">
    <label class="form-label form-label--alternate form-label--inlineSmall" id="product-list-label">
        {{display_name}}:
        <span data-option-value></span>

        {{> components/common/requireness-msg}}
    </label>

    <select class="form-select form-select--small" name="attribute[{{this.id}}]" id="attribute_select_{{id}}" {{#if required}}required{{/if}}>
        <option value="">{{lang 'products.choose_options'}}</option>
        {{#unless required}}
            <option
                name="attribute[{{id}}]"
                id="attribute_productlist_{{id}}_none"
                value=""
            >
                {{lang 'products.none'}}
            </option>
        {{/unless}}
        {{#each values}}
            <option
                data-product-attribute-value="{{id}}"
                id="attribute_productlist_{{../id}}_{{id}}"
                name="attribute[{{../id}}]"
                value="{{id}}"
                {{#if selected}}selected data-default{{/if}}
                {{#if ../required}}required{{/if}}
            >
                {{label}}
            </option>
        {{/each}}
    </select>
</div>
